<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="#">TinyApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"  aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav mr-auto mt-2 mt-lg-0">
                <a class="nav-item nav-link" href="/urls">My URLs</a>
                <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
              </div>
              <div>
                <form action="" method="" class="form-inline my-2 my-lg-0">
                  <label for="username" class="text-white pl-2 pr-3">User Name</label>
                  <input type="text" class="form-control mr-sm-2" name="username">
                  <button type="submit" class="btn btn-outline-light my-2 my-sm-0">Sign in</button>
                </form>
              </div>
            </div>
        </div>
      </nav>
  </header>

 